    </div>
  <br />
  <br />
<?php
   if ($print)
     {
       echo '<a href="javascript:;" onclick="window.print();">Imprimir</a>';
       echo '<br />';
     }
if (!$_GET['pdf']) {
?>
  <div id="derechos"><p>Todos los Derechos Reservados SM NEGOCIOS, S.A. de C.V.</p></div>
<?php } ?>
  </body>
</html>
