/*
#F4F1E8 
#E9F2EC
*/


body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	margin: 0 0 0 0;
	
}

div#usuario {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: left;
	display: block;
	margin: 0 0 0 0;
	margin-left: 30px;
}

img#logo_pdm {
	vertical-align: middle;
	width: 300px;
	height: 80px;
}

img#logo_care {
	vertical-align: middle;
	width: 277px;
	height: 100px;
}

label.frm, input.frm, select.frm, textarea.frm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	display: block;
	width: 150px;
	float: left;
	margin-bottom: 5px;
	color: #303030;
}

label.frm {
        width: 200px;
}

select.numselect {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	display: block;
	float: left;
	margin-bottom: 5px;
	color: #303030;
}

select.frm {
        width: 156px;
}

select#users_sel {
        width: 472px;
}

select#camara {
	width: 472px;
}

input#camara {
	width: 472px;
}

select#suceso {
	width: 472px;
}

input, textarea, select {
	border: 1px solid #D4D1C8;
}

input, textarea {
       	padding-left: 4px;
}

label.frm {
        width: 140px;
	text-align: right;
}

textarea.frm {
	height: 50px;
	width: 466px;
}

input.cb {
        width: auto;
	display: block;
	float: left;
	margin-bottom: 5px;
	color: #303030;
}

label {
	text-align: right;
	padding-right: 20px;
}

br {
	clear: left;
}

input#enviar {
	margin-top: 20px;
}

div.errores {
	width: auto;
	text-align: left;
	background-color: #FFE1E8;
	border-width: 2px;
	border-style: solid;
	border-color: #F4D1D8;
	margin: 20px;
	text-indent: 20px;
}

div.mensaje {
	width: auto;
	text-align: left;
	background-color: #FFFFE0;
	border-width: 2px;
	border-style: solid;
	border-color: #EEEED0;
	margin: auto 10px auto 10px;
	padding: 10px 10px 10px 10px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: #999970;
	font-size: 20px;
}

div#content {
	background-color: #F4F1E8;
	border-width: 2px;
	border-style: solid;
	border-color: #E4E1D8;
	margin: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	min-width: 650px; 
	min-height: 200px;
}

div#title {
	background-color: #E9F2EC;
	padding: 10px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	margin-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: #89928C;
}

div#logos {
	text-align: center;
	min-width: 600px;
	white-space: nowrap;
}

div#form {
        margin: 0 auto;
	width: 750px;
	white-space: nowrap;
}

div#search_results {
        margin: 0 auto 0 auto;
	width: 100%;
	white-space: nowrap;
}

div#derechos {
}

table#search_results {
	border-width: 2px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #FFFFFF;
	width: 100%;
}

tr.result {
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #F4F1E8;
}

td.note_cell {
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	font-size: 11px;
	text-align: left;
}

td.result_cell {
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	font-size: 11px;
	cursor: pointer;
}

td.result_cell_np {
  	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	font-size: 11px;    
}

th.header {
	border-width: 0px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #E9F2EC;
	font-size: 11px;
}

a.button_link {
	margin: 0 auto;
	margin-bottom: 2px;
	width: 200px;
	text-align: center;
	background-color: #E9F2EC;
	padding: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 11px;
	display: block;
	color: #111111;
	font-weight: bold;
	text-decoration: none;
}

a:hover.button_link {
	color: #FFFFFF;
	border-color: #111111;
	background-color: #A9B2AC;
}

a:active.button_link {
	background-color: #EEEEEE;
	color: #111111;
}

a.title_link {
	font-size: 13px;
}

span#title_left {
	float: left;
	left: 40px;
	position: absolute;
}

span#title_center {
	font-size: 20px;
}

table.calendar {
	float: left;
	width: 150px;
	margin-bottom: 2px;
}

div#pass_salir {
	display: block;
	text-align: right;
	margin-right: 30px;
}